*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    padding: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 22px;
}
body{
    text-align: center;
    font-family:sans-serif;
}
input{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 32px;
}